.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
*.svg
images/
!images/logo.png

**/package-lock.json
**/package.json
**/README.md