.vscode/**
**/*.ts
**/*.js
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
*.svg
!icons/filetype_dark_fusion.svg
!icons/filetype_light_fusion.svg
images/
!images/logo.png
@types
**/README.md

**/yarn.lock

**/node_modules/

!client/out/main.js
!server/out/main.js
client/package.json
server/package.json

*.vsix
*.cpuprofile